
/*                                             nav
-------------------------------------------------- */

.navbar {
    background-color: #000102!important;
}

.nav-item{
  text-align: right;
}

/*                                            main
-------------------------------------------------- */
.main {
  background-color: #136CFF;
}


/* jumbotron
-------------------------------------------------- */
.jumbotron {
  height: 100vh;
  background-image: url("../images/pic.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    }
    
  .jumbotron-about {
  height: 100vh;
  background-image: url("../images/show/show5.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    }
  .container-jumbotron{
    margin-top: 280px;
    text-align: center;
    text-decoration: bold;
    color: white;
    
  }  
  .display-4{
    color: black;
  }
/*                                                                             video container
----------------------------------------------------------------------------------------------- */
.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  /*                                                                             About
------------------------------------------------------------------------------------------------ */
  .heading-about {
    
  }
  
  .text-about{
    text-indent: 90px;
  }
  
/*                                                                            MARKETING CONTENT
------------------------------------------------------------------------------------------------ */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/*             Featurettes
------------------------- */


.featurette-divider {
  margin: 5rem 0;
  color: white;
  
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/*------------------------------------------------------------------------------------------------ audio-iframe*/
.audio-iframe {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*                                       RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
 
  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



/*------------------------------------------------------------------------------------------------ Main Contact form*/
.about-image{
  padding-top: 80px;
}



/*------------------------------------------------------------------------------------------------ Gallery*/
.album-top{
  background-color: pink;
}
.album-bottom{
    background-color: orange;
    width: 100%;
}
/*------------------------------------------------------------------------------------------------ Main Contact form*/

.contact-text {
    text-align: center
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */


.fwh-slide--bg-red-contact {
   
     height: 100vh;
        background: #136CFF;
    color: white;
    
}
.fwh-slide{
    
    height: 100vh;
    padding: 35px;
    margin: 0;
    background: orange;
    
    
}

/*------------------------------------------------------------------------------------------------ footer*/
.container-footer{
  padding: 0;
  margin: 0;
  background-color: black;
}