.body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: black;
}
/* nav
-------------------------------------------------- */

.navbar {
    background-color: #000102!important;
}

.nav-item{
  text-align: right;
}
/* main
-------------------------------------------------- */
.main {
  background-color: white;
}
/* jumbotron
-------------------------------------------------- */
.jumbotron {
  height: 100vh;
  background-image: url("../images/pic.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
    }
  
  .container-jumbotron{
    margin-top: 280px;
    text-align: center;
    text-decoration: bold;
    color: white;
    
  }  
  
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */


.featurette-divider {
  margin: 5rem 0;
  color: white;
  
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
 
  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/*------------------------------------------------------------------------------------------------ Main Contact form*/

.contact-text {
    text-align: center
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;


}
.fwh-slide--bg-red-contact {
   
     height: 100vh;
        background: #b13030;
    color: white;
    overflow: auto;
}
.fwh-slide{
    
    height: 100vh;
    padding: 35px;
    background: #1e3950;
    text-overflow: auto;
    
}